<app-header></app-header>

<section class="course-details" style="height: 500px">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="course-details-container">
          <h2 class="course-details__title">{{ selectedCourse.name }}</h2>
          <div class="course-details__info">
            <p class="course-details__info-item">
              <strong>Description:</strong> {{ selectedCourse.description }}
            </p>
            <p class="course-details__info-item">
              <strong>Start Date:</strong>
              {{ selectedCourse.start_Date | date }}
            </p>
            <p class="course-details__info-item">
              <strong>End Date:</strong> {{ selectedCourse.end_Date | date }}
            </p>
            <p class="course-details__info-item">
              <strong>Instructor:</strong>
              <a [routerLink]="'/shared/instructorProfile/' + instructor?.id">{{
                instructor?.name
              }}</a>
            </p>
            <!-- Button for enrolling in the course -->
            <button class="btn btn-primary" (click)="enroll(selectedCourse.id)" >Enroll in The Course</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
