<!-- Navbar Start -->
<nav
  class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0"
>
  <a
    href="index.html"
    class="navbar-brand d-flex align-items-center px-4 px-lg-5"
  >
    <h2 class="m-0 text-success"><i class="fa fa-book me-3"></i>LMS ACADEMY</h2>
  </a>
  <button
    type="button"
    class="navbar-toggler me-4"
    data-bs-toggle="collapse"
    data-bs-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto p-4 p-lg-0">
      <a routerLink="/shared/home" class="nav-item nav-link" routerLinkActive="active"
        >Home</a
      >
      <a
        routerLink="/shared/exam"
        class="nav-item nav-link"
        routerLinkActive="active"
        >Exams</a
      >
      <a
        routerLink="/shared/course"
        class="nav-item nav-link"
        routerLinkActive="active"
        >Courses</a
      >
      <a
        routerLink="/shared/event"
        class="nav-item nav-link"
        routerLinkActive="active"
        >Events</a
      >
      <a
        routerLink="/shared/profile"
        class="nav-item nav-link"
        routerLinkActive="active"
        >Profile</a
      >
    </div>
    <a id="checkLogin"
    (click)="deleteKey()"
    routerLink="/login"
    class="btn btn-success py-4 px-lg-5 d-none d-lg-block">
    {{ key ? 'Log-Out' : 'Log-In' }}
    <i class="fa fa-arrow-right ms-3"></i>
  </a>  
  </div>
</nav>
