<app-header></app-header>

<section class="course-details">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="course-details-container">
          <h2 class="course-details__title">{{ selectedCourse.name }}</h2>
          <div class="course-details__info">
            <p class="course-details__info-item"><strong>Description:</strong> {{ selectedCourse.description }}</p>
            <p class="course-details__info-item"><strong>Start Date:</strong> {{ selectedCourse.start_Date | date }}</p>
            <p class="course-details__info-item"><strong>End Date:</strong> {{ selectedCourse.end_Date | date }}</p>
            <p class="course-details__info-item"><strong>Instructor:</strong> {{ instructor?.name }}</p>
            <p class="course-details__info-item"><strong>Material:</strong> {{ selectedCourse.material }}</p>
            <!-- <p class="course-details__info-item"><strong>Attachment Path:</strong> {{ selectedCourse.userAttachmentPath }}</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>