<app-header></app-header>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="course-details-container">
        <h2>{{ selectedCourse.name }}</h2>
        <p><strong>Description:</strong> {{ selectedCourse.description }}</p>
        <p><strong>Start Date:</strong> {{ selectedCourse.start_Date | date }}</p>
        <p><strong>End Date:</strong> {{ selectedCourse.end_Date | date }}</p>
        <p><strong>Number of Exams:</strong> {{ selectedCourse.numOfExam }}</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
