<app-header></app-header>

<section class="light">
  <div class="container py-2">
    <div class="h1 text-center text-dark" id="pageHeaderTitle">
      {{ selectedCourse.name }}
    </div>

    <article class="postcard light blue">
      <a class="postcard__img_link">
        <img
          class="postcard__img"
          src="{{ selectedCourse.userAttachmentPath }}"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text t-dark">
        <h1 class="postcard__title blue">{{ selectedCourse.name }}</h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>
            {{ selectedCourse.start_Date }}
          </time>
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>
            {{ selectedCourse.end_Date }}
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          {{ selectedCourse.description }}
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item">
            <i class="fas fa-user mr-2"></i
            ><a routerLink="/shared/instructorProfile/{{ instructor?.id }}">{{
              instructor?.name
            }}</a>
          </li>
          <li class="tag__item">
            <i class="fas fa-book mr-2"></i
            ><a href="{{ selectedCourse.material }}">Material</a>
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>

<app-footer></app-footer>
