<div *ngIf="exams && exams.length > 0; else noExams">
    <h2>Exams for Course {{ course_Id }}</h2>
  
    <div class="row">
      <div class="col-md-6" *ngFor="let exam of exams">
        <div class="card mb-3">
          <div class="card-header">
            <h5 class="mb-0">{{ exam.name }}</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <p class="card-text">Date: {{ exam.date | date }}</p>
                <p class="card-text">Duration: {{ exam.duration }} minutes</p>
                <p class="card-text">Number of Questions: {{ exam.numberOfQuestions }} question</p>
              </div>
              <div class="col-md-6">
                <p class="card-text">Max Degree: {{ exam.max_Degree }}</p>
                <p class="card-text">Min Degree: {{ exam.min_Degree }} </p>
                <p class="card-text">Students:  {{ exam.studentIDs }} </p>
              </div>
            </div>
            <a href="#" class="btn btn-primary">Edit Exam</a>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
  <ng-template #noExams>
    <div class="text-center">
    <div class="container-fluid mt-5 h2">No exams available for this course.</div>
    <a ngModel="course_Id" [routerLink]="['/instructor/addExam' ,course_Id]" class="btn btn-primary mt-2 ">Add Exams</a></div>
  </ng-template>
  