<div class="grid p-fluid">
    <div class="col-12 ">
        <div class="card">
            <h5>Student Data</h5>

            <form class="row g-3" [formGroup]="questionForm" (Submit)="onSubmit($event)">
                <label for="basic-icon-default-fullname">Question and Choices</label>

                <span class="p-float-label">
                    <input pInputText type="text" id="basic-icon-default-fullname" formControlName="question"
                        class="form-control" placeholder="Write the question and choices" required [ngClass]="{
                'is-valid': questionControl.valid,
                'is-invalid': questionControl.invalid && questionControl.touched
              }" />
                    <div class="invalid-feedback error-message"
                        *ngIf="questionControl.errors && questionControl.touched">
                        <ng-container *ngIf="questionControl.hasError('required')">question is
                            required</ng-container>
                        <ng-container *ngIf="questionControl.hasError('minlength')">very short</ng-container>
                        <ng-container *ngIf="questionControl.hasError('invalidQuestionWithChoices')">Question must include choices</ng-container>

                       
                    </div>
                </span>

                <label for="basic-icon-default-fullname">Correct Answer</label>

                <span class="p-float-label">
                    <input pInputText type="text" id="basic-icon-default-fullname" formControlName="correctAnswer" class="form-control"
                        placeholder="enter correct Answer" required [ngClass]="{
                                'is-valid': correctAnswerControl.valid,
                                'is-invalid': correctAnswerControl.invalid && correctAnswerControl.touched
                              }" />
                    <div class="invalid-feedback error-message" *ngIf="correctAnswerControl.errors && correctAnswerControl.touched">
                        <ng-container *ngIf="correctAnswerControl.hasError('required')">correct Answer Control is
                            required</ng-container>
                        <ng-container *ngIf="correctAnswerControl.hasError('pattern')">correct Answer Control is
                                required to be a b c d or 1 2 3 4</ng-container>
                      
                    </div>
                </span>

                <label for="basic-icon-default-fullname">question type</label>

                <span class="p-float-label">
                    <input pInputText type="text" id="basic-icon-default-fullname" formControlName="questionType" class="form-control"
                    placeholder="enter question type" required [ngClass]="{
                            'is-valid': typeControl.valid,
                            'is-invalid': typeControl.invalid && typeControl.touched
                          }" />
                <div class="invalid-feedback error-message" *ngIf="typeControl.errors && typeControl.touched">
                    <ng-container *ngIf="typeControl.hasError('required')">type Control is
                        required</ng-container>
                  
                </div>
                </span>




                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <!-- Other UI components go here -->
        </div>
    </div>
</div>