<div class="container-fluid mt-5">
    <h2 class="text-center mb-3">Add Exam</h2>
    <form (ngSubmit)="addExam()">
      <!-- Exam details inputs -->
      <!-- Number of questions input -->
      <label for="numberOfQuestions">Number of Questions:</label>
      <input type="number" id="numberOfQuestions" name="numberOfQuestions" [(ngModel)]="numberOfQuestions" (change)="updateQuestionTabs()">
      <div *ngIf="showAddQuestionTabs">
        <ul class="nav nav-tabs">
          <li *ngFor="let index of questionIndices" class="nav-item">
            <a class="nav-link" href="#" (click)="selectQuestionTab(index)" routerLink="trial/addExam/addQuestion/:exam_Id">Question {{ index + 1 }}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div *ngFor="let index of questionIndices" class="tab-pane" [class.show]="index === selectedQuestionIndex">
            <!-- Question form -->
            <div *ngIf="index === selectedQuestionIndex" class="form-group">
              <label for="question">Question:</label>
              <input type="text" id="question" name="question" class="form-control" [(ngModel)]="examData.questions[index].question">
            </div>
            <div *ngIf="index === selectedQuestionIndex" class="form-group">
              <label for="questionType">Question Type:</label>
              <input type="text" id="questionType" name="questionType" class="form-control" [(ngModel)]="examData.questions[index].questionType">
            </div>
            <div *ngIf="index === selectedQuestionIndex" class="form-group">
              <label for="correctAnswer">Correct Answer:</label>
              <input type="text" id="correctAnswer" name="correctAnswer" class="form-control" [(ngModel)]="examData.questions[index].correctAnswer">
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Create Exam</button>
    </form>
</div>
