<div class="container-fluid col-6">
<form [formGroup]="ExamForm"  (ngSubmit)="onSubmit($event)" class="mt-5 border p-5">
    <div class="form-group">
      <label for="examName">Exam Name</label>
      <span class="p-float-label">
        <input pInputText type="text"  id="examName" formControlName="name" class="form-control"
          placeholder="Enter exam name" required [ngClass]="{
            'is-valid': nameControl.valid,
            'is-invalid': nameControl.invalid && nameControl.touched
          }" />
        <div class="invalid-feedback error-message" *ngIf="nameControl.errors && nameControl.touched">
          <ng-container *ngIf="nameControl.hasError('required')">Exam name is required</ng-container>
          <ng-container *ngIf="nameControl.hasError('minLength')">Exam name is too long</ng-container>
        </div>
      </span>
    </div>

    <div class="form-group">
      <h3>Enter Number of Questions:</h3>
      <input type="number" formControlName="numberOfQuestions" class="form-control"
        placeholder="Enter exam name" id="numberOfQuestions" required [ngClass]="{
            'is-valid': numberquestionControl.valid,
            'is-invalid': numberquestionControl.invalid && numberquestionControl.touched
          }">
      <div class="invalid-feedback error-message" *ngIf="numberquestionControl.errors && numberquestionControl.touched">
        <ng-container *ngIf="numberquestionControl.hasError('required')">Number of questions is required</ng-container>
        <ng-container *ngIf="numberquestionControl.hasError('min')">Number of questions must be at least 1</ng-container>
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="onAddQuestions()">Add Questions</button>

        <div class="form-group">
          <h3>Enter Time</h3>
          <input type="time" formControlName="time" class="form-control"
            placeholder="Enter exam time" required [ngClass]="{
                  'is-valid': timeControl.valid,
                  'is-invalid': timeControl.invalid && timeControl.touched
                }">
          <div class="invalid-feedback error-message" *ngIf="timeControl.errors && timeControl.touched">
            <ng-container *ngIf="timeControl.hasError('required')">Time is required</ng-container>
          </div>
        </div>
  
    <div class="form-group">
      <label for="examDuration">Duration (in minutes)</label>
      <input  pInputText type="number" id="examDuration" formControlName="duration" class="form-control"
        placeholder="Enter exam duration" required [ngClass]="{
          'is-valid': durationControl.valid,
          'is-invalid': durationControl.invalid && durationControl.touched
        }" />
      <div class="invalid-feedback error-message" *ngIf="durationControl.errors && durationControl.touched">
        <ng-container *ngIf="durationControl.hasError('required')">Duration is required</ng-container>
      </div>
    </div>
  
    <div class="form-group">
      <label for="examDate">Exam Date</label>
      <input  pInputText type="date" id="examDate" formControlName="date" class="form-control"
        placeholder="Select exam date" required [ngClass]="{
          'is-valid': dateControl.valid,
          'is-invalid': dateControl.invalid && dateControl.touched
        }" />
      <div class="invalid-feedback error-message" *ngIf="dateControl.errors && dateControl.touched">
        <ng-container *ngIf="dateControl.hasError('required')">Exam date is required</ng-container>
        <div  *ngIf="dateControl.get('date')?.hasError('startDateInvalid')"> 
                       
          Start date must be after today.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="examMaxDegree">Max Degree</label>
      <input pInputText type="number" id="examMaxDegree" formControlName="max_Degree" class="form-control"
        placeholder="Enter max degree" required [ngClass]="{
          'is-valid': maxControl.valid,
          'is-invalid': maxControl.invalid && maxControl.touched
        }" />
      <div class="invalid-feedback error-message" *ngIf="maxControl.errors && maxControl.touched">
        <ng-container *ngIf="maxControl.hasError('required')">Max degree is required</ng-container>
        <ng-container *ngIf="maxControl.hasError('maxLessThanMin')">Max degree must be greater than min degree</ng-container>
      </div>
    </div>
    
    <div class="form-group">
      <label for="examMinDegree">Min Degree</label>
      <input pInputText type="number" id="examMinDegree" formControlName="min_Degree" class="form-control"
        placeholder="Enter min degree" required [ngClass]="{
          'is-valid': minControl.valid,
          'is-invalid': minControl.invalid && minControl.touched
        }" />
      <div class="invalid-feedback error-message" *ngIf="minControl.errors && minControl.touched">
        <ng-container *ngIf="minControl.hasError('required')">Min degree is required</ng-container>
        <ng-container *ngIf="minControl.hasError('maxLessThanMin')">Min degree must be less than max degree</ng-container>
      </div>
    </div>
    
<!--  
    <ng-container *ngFor="let question of questionCountArray; let i = index">
      <app-add-question #questionComponent [questionIndex]="i" [examId]="Exam?.id"></app-add-question>
    </ng-container> -->
    

    <button type="submit" class="btn btn-primary" #submitBtn>Submit</button>
  </form>

</div>