<!-- Navbar Start -->
<app-header></app-header>
<!-- Navbar End -->
<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let course of courses">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ course.name }}</h5>
          <p class="card-text">{{ course.description }}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="far fa-calendar-alt"></i> Start Date: {{ course.start_Date | date }}</li>
            <li class="list-group-item"><i class="far fa-calendar-alt"></i> End Date: {{ course.end_Date | date }}</li>
            <li class="list-group-item"><i class="fas fa-tasks"></i> Number of Exams: {{ course.numOfExam }}</li>
          </ul>
          <button class="btn btn-primary" (click)="openCourseDetailsInNewTab(course.id)">View Details</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
  ><i class="bi bi-arrow-up"></i
></a>
