<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title" [ngModel]="numberOfQuestions">Add {{ numberOfQuestions}} Question </h5>
      <form [formGroup]="questionForm" (ngSubmit)="onSubmit($event)">
        <div class="mb-3">
          <label for="question" class="form-label">Question</label>
          <textarea class="form-control" id="question" formControlName="question" rows="3"
            required [ngClass]="{
            'is-valid': questionForm.get('question')?.valid,
            'is-invalid': questionForm.get('question')?.invalid && questionForm.get('question')?.touched
          }"></textarea>
          <div class="invalid-feedback error-message" *ngIf="questionForm.get('question')?.errors && questionForm.get('question')?.touched">
            <ng-container *ngIf="questionForm.get('question')?.hasError('required')">Question is required</ng-container>
          </div>
        </div>

      
        <div class="mb-3">
          <label class="form-label">Choices</label>
          <div class="form-check" *ngFor="let i of [0, 1, 2, 3]; let index = index">
            <div class="input-group mb-3">
              <input type="text" class="form-control" [id]="'choiceText' + i" [placeholder]="'Choice ' + (index + 1)" 
                     [formControl]="getChoiceControl(index)"
                     formControlName="choices"
                     [required]="index < 2"
                     [ngClass]="{
                       'is-valid': getChoiceControl(index).valid,
                       'is-invalid': getChoiceControl(index).invalid && getChoiceControl(index).touched
                     }">
              <div class="invalid-feedback error-message" *ngIf="getChoiceControl(index).invalid && getChoiceControl(index).touched">
                Please provide a choice.
              </div>
            </div>
          </div>
          <div class="invalid-feedback error-message" *ngIf="isChoiceInvalid()">
            Please provide all required choices.
          </div>
        </div>
        
        

        <div class="mb-3">
          <label for="correctAnswer" class="form-label">Correct Answer</label>
          <input type="text" class="form-control" id="correctAnswer" formControlName="correctAnswer"
            required [ngClass]="{
            'is-valid': questionForm.get('correctAnswer')?.valid,
            'is-invalid': questionForm.get('correctAnswer')?.invalid && questionForm.get('correctAnswer')?.touched
          }">
          <div class="invalid-feedback error-message" *ngIf="questionForm.get('correctAnswer')?.errors && questionForm.get('correctAnswer')?.touched">
            <ng-container *ngIf="questionForm.get('correctAnswer')?.hasError('required')">Correct Answer is required</ng-container>
          </div>
          <div *ngIf="questionForm.get('correctAnswer')?.hasError('incorrectAnswer')" class="invalid-feedback error-message">
            Please select a correct answer from the provided choices.
          </div>
        </div>

        <div class="mb-3">
          <label for="questionType" class="form-label">Question Type</label>
          <input type="text" class="form-control" id="questionType" formControlName="questionType" required [ngClass]="{
            'is-valid': questionForm.get('questionType')?.valid,
            'is-invalid': questionForm.get('questionType')?.invalid && questionForm.get('questionType')?.touched
          }">
          <div class="invalid-feedback error-message" *ngIf="questionForm.get('questionType')?.errors && questionForm.get('questionType')?.touched">
            <ng-container *ngIf="questionForm.get('questionType')?.hasError('required')">Type is required</ng-container>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
