
.card {
    margin-bottom: 20px;
  
    img {
      object-fit: cover; 
    }
  }

.list-group-item {
  display: flex;
  align-items: center;
  border: none;
  i {
    width: 20px;
  }
}

.card-text {
  margin-bottom: 0;
}

main {
  min-height: calc(100vh - 350px); // Adjust height based on header and footer height
}

// Apply font size directly
.card-title.larger-font {
  font-size: 1.5rem; // Adjust the font size as needed
}

.card-text.larger-font,
.list-group-item.larger-font {
  font-size: 1.2rem; // Adjust the font size as needed
}
