<app-header></app-header>

<div class="bg-light p-2">
  <h1 style="margin-left: 50%; margin-top: 50px; color: green">Exams</h1>
</div>

<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-success"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Show Result
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Exams Results</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Exam Name</th>
              <th>Max Degree</th>
              <th>Min Degree</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let exam of studentSolvedExams; let i = index">
              <td>{{ exam.name }}</td>
              <td>{{ exam.max_Degree }}</td>
              <td>{{ exam.min_Degree }}</td>
              <td [appResultStyle]="Result[i]">{{ Result[i] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<table class="table table-hover table-striped" style="margin-bottom: 200px">
  <thead>
    <tr class="text-center">
      <th scope="col">Name</th>
      <th scope="col">Duration (Min)</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Exam Degree</th>
      <th scope="col">Min Degree</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center" *ngFor="let exam of studentExams; let i = index">
      <td>{{ exam.name }}</td>
      <td>{{ exam.duration }}</td>
      <td>{{ exam.date | date : "mediumDate" }}</td>
      <td>{{ exam.time }}</td>
      <td>{{ exam.max_Degree }}</td>
      <td>{{ exam.min_Degree }}</td>
      <td id="action{{ i }}">
        <button
          class="btn btn-success"
          (click)="startExam(exam.id)"
          [disabled]="!checkFullDate(exam.id)"
        >
          Start Exam
        </button>
      </td>
    </tr>
  </tbody>
</table>

<app-footer></app-footer>
