<app-header></app-header>
<div class="bg-light p-2">
      <h3 style="margin-left: 50%; margin-top: 50px; color: green;">Exams</h3>
</div>

<table class="table table-hover table-striped">
      <thead>
        <tr class="text-center">
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Duration</th>
          <th scope="col">Date</th>
          <th scope="col">Course</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" *ngFor="let exam of exams; let i=index">
          <th scope="row">{{ exam.id }}</th>
          <td>{{ exam.name }}</td>
          <td>{{ exam.duration }} Min</td>
          <td>{{ exam.date }}</td>
          <td>
            {{ courses[i] }}
          </td>
        </tr>
      </tbody>
    </table>
    

<app-footer></app-footer>