<form [formGroup]="StudentForm" (ngSubmit)="onSubmit($event)">
  <h1>Create Account</h1>
  <input type="text" placeholder="Name" formControlName="name" />
  <div
    *ngIf="getFormControl('name').invalid && getFormControl('name').touched"
    class="alert alert-danger"
  >
    <div *ngIf="getFormControl('name').errors?.['required']">
      Name is required.
    </div>
    <div *ngIf="getFormControl('name').errors?.['pattern']">
      You need to insert your First and last Names.
    </div>
  </div>

  <input type="text" placeholder="Age" formControlName="age" />
  <div
    *ngIf="getFormControl('age').invalid && getFormControl('age').touched"
    class="alert alert-danger"
  >
    <div *ngIf="getFormControl('age').errors?.['required']">
      Age is required.
    </div>
    <div *ngIf="getFormControl('age').errors?.['min']">
      Age must be greater than or equal to 18.
    </div>
  </div>

  <input type="text" placeholder="Title" formControlName="title" />
  <div
    *ngIf="getFormControl('title').invalid && getFormControl('title').touched"
    class="alert alert-danger"
  >
    Title is required.
  </div>

  <input type="email" placeholder="Email" formControlName="email" />
  <div
    *ngIf="getFormControl('email').invalid && getFormControl('email').touched"
    class="alert alert-danger"
  >
    Email is required and must be a valid email address.
  </div>

  <input type="password" placeholder="Password" formControlName="password" />
  <div
    *ngIf="getFormControl('password').invalid && getFormControl('password').errors?.['pattern'] && getFormControl('password').touched"
    class="alert alert-danger"
  >
    Password is required and must contain at least 8 characters, including
    uppercase, lowercase, and a number.
  </div>

  <input type="text" placeholder="Phone number" formControlName="phone" />
  <div
    *ngIf="getFormControl('phone').invalid && getFormControl('phone').touched"
    class="alert alert-danger"
  >
    Phone number is required and must start with 010, 011, or 012 and must be 11
    digits long.
  </div>

  <input type="text" placeholder="Address" formControlName="address" />
  <div
    *ngIf="
      getFormControl('address').invalid && getFormControl('address').touched
    "
    class="alert alert-danger"
  >
    Address is required.
  </div>

  <input type="text" placeholder="SSN" formControlName="ssn" />
  <div
    *ngIf="getFormControl('ssn').invalid && getFormControl('ssn').touched"
    class="alert alert-danger"
  >
    SSN is required and must be a valid 14-digit number.
  </div>

  <input
    type="file"
    placeholder="Photo Url"
    (change)="onFileSelected($event)"
  />
  <div
    *ngIf="
      getFormControl('imageFile').invalid && getFormControl('imageFile').touched
    "
    class="alert alert-danger"
  >
    Photo is required.
  </div>

  <button type="submit">Sign Up</button>
</form>
