<div class="container">
  <h2 class="text-center">Students in the Course</h2>
  <div *ngIf="courseStudents.length > 0" class="table-responsive">
    <table class="table table-bordered">
      <thead class="table header">
        <tr> 
          <th>Name</th>
          <th>Age</th>
          <th>Title</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of paginatedStudents"> 
          <td>{{ student.name }}</td>
          <td>{{ student.age }}</td>
          <td>{{ student.title }}</td>
          <td>{{ student.phone }}</td>
          <td>{{ student.email }}</td>
          <td><a href="mailto:{{ student.email }}" class="btn btn-success">Send Email</a></td>
        </tr>
      </tbody>

    </table>
    <div class="text-center">
      <button class="btn btn-default" (click)="prevPage()" [disabled]="!hasPrevPage()">Previous</button>
      <button class="btn btn-default" (click)="nextPage()" [disabled]="!hasNextPage()">Next</button>
    </div>
  </div>
  <div *ngIf="courseStudents.length === 0" class="text-center">
    <h1>No students found in the course.</h1>
  </div>
  <!-- Pagination controls -->

</div>
