<div *ngIf="courseStudents.length > 0" class="container">
    <h2 class="text-center">Students in the Course</h2>
    <table class="table table-bordered">
      <thead class="table header">
        <tr> 
          <th>Name</th>
          <th>Age</th>
          <th>Title</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of courseStudents"> 
          <td>{{ student.name }}</td>
          <td>{{ student.age }}</td>
          <td>{{ student.title }}</td>
          <td>{{ student.phone }}</td>
          <td>{{ student.email }}</td>
          <td><a href="mailto:{{ student.email }}" class="btn btn-success">Send Email</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div *ngIf="courseStudents.length === 0" class="container text-center">
    <h1>No students found in the course.</h1>
  </div>
  