<!-- Your existing panel structure -->
<div class="panel">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <h4 class="title pull-left">Courses</h4>
        <button class="btn btn-sm btn-primary pull-right m-1" (click)="toggleSortOrder()">
          {{ sortByEndDateDesc ? 'Sort Oldest First' : 'Sort Newest First' }}
        </button>
        <a [routerLink]="['/instructor/shared/AddCourse']" class="btn btn-sm btn-primary pull-right m-1">
          <i class="fa fa-plus"></i> Add New
        </a>
      </div>
    </div>
  </div>
  <!-- Inside panel body -->
  <div class="panel-body table-responsive">
    <table class="table">
      <!-- Table header -->
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Material</th>
          <!-- Add more table headers as needed -->
        </tr>
      </thead>
      <!-- Table body with pagination -->
      <tbody>
        <tr *ngFor="let course of paginatedCourses">
          <td>{{ course.name }}</td>
          <td>
            <ng-container *ngIf="course.description.split(' ').length > 3">
              <span *ngIf="!course.showFullDescription">
                {{ course.description.split(' ').slice(0, 3).join(' ') }}...
                <a href="javascript:void(0)" (click)="toggleDescription(course)" class="text-success">See more</a>
              </span>
              <span *ngIf="course.showFullDescription">{{ course.description }}
                <a href="javascript:void(0)" (click)="toggleDescription(course)" class="text-success">See less</a>
              </span>
            </ng-container>
            <ng-container *ngIf="course.description.split(' ').length <= 3">{{ course.description }}</ng-container>
          </td>
          <td>{{ course.start_Date }}</td>
          <td>{{ course.end_Date }}</td>
          <td>
            <a (click)="openMaterialtLink(course)" class="btn btn-green">
              Material
            </a>
          </td>
          <td>
            <ul class="action-list">
              <li>
                <a [routerLink]="['/instructor/shared/courseDetails', course.id]"
                  class="btn btn-success" [ngClass]="{ 'disabled-btn': isCourseEnded(course.end_Date) }">
                  <i class="fa fa-search"></i>
                </a>
              </li>
            </ul>
          </td>
        </tr>
        <!-- Placeholder for when no courses are available -->
        <ng-container *ngIf="paginatedCourses.length == 0; ">
          <tr>
            <td colspan="5" class="text-center">No courses available</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <ng-template #noCoursesTemplate>
    <tr>
      <td colspan="5" class="text-center">No courses available</td>
    </tr>
  </ng-template>

  <!-- Panel footer with pagination controls -->
  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-6 col-xs-6">
        Showing <b>{{ getStartIndex() }}</b> -
        <b>{{ getEndIndex() }}</b> of
        <b>{{ instructorCourses.length }}</b> entries
      </div>
      <div class="col-sm-6 col-xs-6">
        <button class="btn btn-default" (click)="prevPage()" [disabled]="!hasPrevPage()">Previous</button>
        <button class="btn btn-default" (click)="nextPage()" [disabled]="!hasNextPage()">Next</button>
      </div>
    </div>
  </div>
  
  
