
<div class="panel">
  <div class="panel-heading">
      <div class="row">
          <div class="col-sm-12 col-xs-12">
              <h4 class="title pull-left">Courses</h4>
              <button class="btn btn-sm btn-primary pull-right m-1" (click)="toggleSortOrder()">
                {{ sortByEndDateDesc ? 'Sort Oldest First' : 'Sort Newest First' }}
            </button>
              <a [routerLink]="['/instructor/shared/AddCourse']"class="btn btn-sm btn-primary pull-right m-1"><i class="fa fa-plus"></i> Add New</a>
          </div>
      </div>
  </div>
  <div class="panel-body table-responsive">
      <table class="table">
          <thead>
              <tr>
                 
                  <th>Name</th>
                  <th>description</th>
                  <th>start date</th>
                  <th>end date</th>
                  <th>Material</th>

              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let course of instructorCourses" [ngClass]="{ 'disabled-row': isCourseEnded(course.end_Date) }">
                
                  <td>{{ course.name }}</td>
                  <td>
                    <ng-container *ngIf="course.description.split(' ').length > 3">
                      <span *ngIf="!course.showFullDescription">
                        {{ course.description.split(' ').slice(0, 3).join(' ') }}...
                        <a href="javascript:void(0)" (click)="toggleDescription(course)" class="text-success">See more</a>
                      </span>
                      <span *ngIf="course.showFullDescription">{{ course.description }}
                        <a href="javascript:void(0)" (click)="toggleDescription(course)" class="  text-success">See less</a>
                      </span>
                    </ng-container>
                    <ng-container *ngIf="course.description.split(' ').length <= 3">
                      {{ course.description }}
                    </ng-container>
                  </td>
                  
                  
                  
                  
                  
                  
                  <td>{{ course.start_Date }}</td>
                  <td>{{ course.end_Date }}</td>
                  <td>  <a  (click)="openMaterialtLink(course)" class="btn btn-green" >
                    material
                </a></td>
                  <td>
                     
                      <ul class="action-list">
                        <li>
                            <a [routerLink]="['/instructor/shared/courseDetails', course.id]" class="btn btn-success" [ngClass]="{'disabled-btn': isCourseEnded(course.end_Date)}">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>  
                      </ul>
                  </td>
              </tr>
               <ng-template #noCourses>
        <tr>
          <td colspan="5" class="text-center">No courses available</td>
        </tr>
      </ng-template>
          </tbody>
      </table>
  </div>
  <div class="panel-footer">
      <div class="row">
          <div class="col-sm-6 col-xs-6">showing <b>{{ instructorCourses?.length }}</b> out of <b>{{ instructorCourses?.length }}</b> entries</div>
          <div class="col-sm-6 col-xs-6">
              
          </div>
      </div>
  </div>
</div>
