<!-- <div class="container login-container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" formControlName="userType" value="student" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Student</label>
            <input type="radio" class="btn-check" formControlName="userType" value="instrxuctor" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio3">Instructor</label>
          </div>
          <div class="form-group">
            <label for="email">Enter Your Email</label>
            <input type="email" class="form-control" formControlName="email" id="email">
          </div>
          <div class="form-group">
            <label for="password">Enter Your Password</label>
            <input type="password" class="form-control" formControlName="password" id="password">
          </div>
          <button type="submit" class="btn btn-primary">Log-in</button>
          <a href="#" class="forgot-password">Forgot password?</a>
        </form>
      </div>
    </div>
  </div>
   -->