
<div class="container" id="container">
  <div class="form-container sign-up-container">
    <app-sign-up></app-sign-up>
  </div>
  <div class="form-container sign-in-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogIn()">
      <h1>Sign in</h1>
    
      <!-- Email Input Field -->
      <input type="email" placeholder="Email" formControlName="email" />
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="alert alert-danger">
        Email is required and must be a valid email address.
      </div>
    
      <!-- Password Input Field -->
      <input type="password" placeholder="Password" formControlName="password" />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="alert alert-danger">
        Password is required.
      </div>

    
      <!-- Submit Button -->
      <button type="submit">Sign In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button (click)="togglePanel(false)" class="ghost" id="signIn">
          Sign In
        </button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start journey with us</p>
        <button (click)="togglePanel(true)" class="ghost" id="signUp">
          Sign Up
        </button>
        <button class="ghost" (click)="goToHome()">
          Home
        </button>
      </div>
    </div>
  </div>
</div>
