<div class="container py-3">
    <div class="title h1 text-center">{{course.name}} Course  Details</div>
    <!-- Card Start -->
    <div class="card">
      <div class="row ">
  
        <div class="col-md-7 px-3">
          <div class="card-block px-6">
            <div style="background-color: #f0f0f0; padding: 20px;">
              <p class="card-title text-center mt-3 h1">Course Name : {{course.name}}</p>
          </div>
          <div class="card-bady text-center">
            <p class="card-text mt-3 h3">
                {{course.description}}
            </p>
          
            <p class="card-text mt-3 h4">
             Number of students enrolled in this course : {{numberOfStudentsEnrolled}}
          </p>
            <p class="text-muted ">
              <i class="fas fa-calendar-alt mt-5"></i> {{course.start_Date}}  
              to   <i class="fas fa-calendar-alt mt-2"></i>  {{course.end_Date}}
            </p>
            <br>
            <a  (click)="openMaterialtLink(course)" class="btn btn-green" >
              material
          </a>
          </div>
          </div>
        </div>
        <!-- Carousel start -->
        <div class="col-md-5">
          <div id="CarouselTest" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#CarouselTest" data-slide-to="0" class="active"></li>
              <li data-target="#CarouselTest" data-slide-to="1"></li>
              <li data-target="#CarouselTest" data-slide-to="2"></li>
  
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block course-image" src="{{course.userAttachmentPath}}" alt="">
              </div>
              <div class="carousel-item">
                <img class="d-block course-image" src="{{course.userAttachmentPath}}"  alt="">
              </div>
              <div class="carousel-item">
                <img class="d-block course-image" src="{{course.userAttachmentPath}}"  alt="">
              </div>
              <a class="carousel-control-prev" href="#CarouselTest" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
              <a class="carousel-control-next" href="#CarouselTest" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
            </div>
          </div>
        </div>
        <!-- End of carousel -->
        <button class="btn  mt-3" style="background-color: rgb(66, 127, 66);" (click)="toggleExams()">
          <span style="font-weight: bold; color: rgb(1, 27, 27);" class="h4">Show Exams</span>
        </button>

      </div>
    </div>
    <!-- End of card -->
  
  </div>
  
    <!-- Exams section -->
    <div *ngIf="showExams" class="mt-3">
        <div *ngIf="showExams" class="mt-3">
            <app-courses-exam [courseId]="courseId"></app-courses-exam>
          </div>
    </div>
  
   
   
       
