<app-header></app-header>

<section class="container-fluid py-5 bg-light">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-12">
        <input type="text" class="form-control" placeholder="Search courses..." (input)="filterCourses($event.target)">
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-12">
        <h2 class="section-title text-success mb-4">New Courses</h2>
        <div class="row">
          <div class="col-4" *ngFor="let course of pagedCourses">
            <div class="card h-100 shadow">
              <img [src]="course.userAttachmentPath" height="200px" class="card-img-top" [alt]="course.name" />
              <div class="card-body">
                <h5 class="card-title course-name">{{ course.name }}</h5>
                <button class="btn btn-success" (click)="enroll(course.id)">Enroll Now</button>
                <a [routerLink]="'/nonEnrolledCourses/' + course.id" class="btn btn-secondary">More Details</a>
              </div>
            </div>
          </div>
        </div>
        <mat-paginator [length]="allCourses.length" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
